---
title: About
body_id: snap_body
cont_class: snap_container
main_nav_sel: about
tablet_snap_off: yup
---

  <div id="about_hero" class="snap_section">
    <div class="bg_image">
    </div>
    <div class="text_section">
      <div class="text_cont_for_ie">
        <div class="grid-container">
          <div class="grid-x grid-padding-x align-center">
            <div class="cell medium-8 small-12">
              <h1>About Us</h1>
              <p>
                At NZCS, we help companies mitigate risk and improve their efficiency with round-the-clock IT services and support. From the early beginnings, we decided to build an organization that has value to our clients and is a fulfilling workplace for our team.
              </p>

              <a href="#" class="circle_arrow_down">
                <%= partial "images/page_arrow_down.svg" %> 
              </a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="nzcs_history" class="snap_section">
    <div class="text_section">
      <div class="text_cont_for_ie">
        <h2>Providing you <strong>outstanding IT service</strong> since 1998</h2>

        <div class="grid-container">
          <div class="grid-x grid-padding-x align-center">
            <div class="cell large-7 medium-8">
              <p>
                NZCS are not only superheroes when it comes to the Engineering and IT Network game. We started our mission back in the early 90’s producing software applications for non-profit organisations. 20 years down the track and  NZCS now has a full 
                Engineering team with branches in Wanganui and New Plymouth with clients stretching throughout New Zealand.
              </p>
            </div>
          </div>

          <div class="grid-x grid-padding-x">

            <div class="cell medium-3">
              <div class="animated_circle">
                <span>20</span>
              </div>
              <em>years of experience</em>
            </div>

            <div class="cell medium-3">
              <div class="animated_circle">
                <span>13</span>
              </div>
              <em>dedicated team members</em>
            </div>

            <div class="cell medium-3">
              <div class="animated_circle">
                <span>76</span>
              </div>
              <em>happy clients</em>
            </div>

            <div class="cell medium-3">
              <div class="animated_circle">
                <span>30+</span>
              </div>
              <em>cups of coffee drank per day</em>
            </div>

          </div>


          <div class="grid-x grid-padding-x">

            <div class="cell large-12">
              <p class="tagline">
                <em>We are not just a technology provider.</em> 
                <strong>We are a true IT services partner.</strong>
              </p>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="core_values" class="snap_section">
    <div class="bg_image">
      <div class="svg_container">
        <%= partial "images/about_page/bgc_white_about1.svg" %>   
      </div>
    </div>


    <div class="text_section">
      <div class="text_cont_for_ie">


        <div class="grid-container">
          <div class="grid-x grid-padding-x">

            <div class="cell medium-4">
              <div class="values_svg">
                <%= partial "images/about_page/values.svg" %>   
              </div>

              <h3>Our Core Values</h3>

              <ul>
                <li>Integrity &amp; Respect.</li>
                <li>Value creation.</li>
                <li>Passion &amp; Commitment.</li>
                <li>Sustainability Support.</li>

              </ul>

            </div>

            <div class="cell medium-8">
              <h2>
                Adherence to Excellence.<br />
                <strong>Integrity and Reliability.</strong><br />
                Teamwork. 
              </h2>

              <p>
                That’s what <em>NZCS</em> is all about. We are <strong>dedicated, experienced, practical</strong> and <strong>responsive</strong> in <em>providing the right solutions</em> to our clients.
              </p>
              <p>
                We believe <em>great things happen when we work together</em> with our clients. Our values are not just words written in a company handbook. Those are the ground priorities we set for our business and day-to-day activities of our team.

              </p>

            </div>

          </div>




        </div>
      </div>
    </div>



  </div>


  <div id="the_team" class="snap_section">
    <div class="bg_image">
      <div class="svg_container">
        <%= partial "images/about_page/bgc_white_about2.svg" %>   
      </div>
    </div>


    <div class="text_section">
      <div class="text_cont_for_ie">
        <h2>Our <strong>Team</strong></h2>

        <div class="grid-container">
          <div class="grid-x grid-padding-x align-center">

            <div class="cell medium-4">
              <div class="team_info">
                <img src="images/about_page/greg.jpg" alt="Greg" />
                <strong>Greg</strong>
                <em>Position/Role Here</em>
              </div>
              <p>
                Fusce id tincidunt lectus. Proin tristique libero et pulvinar tincidunt. Duis mauris diam, finibus congue dui sed, rhoncus posuere mi. 
              </p>
            </div>

            <div class="cell medium-4">
              <div class="team_info">
                <img src="images/about_page/tash.jpg" alt="Tash" />
                <strong>Tash</strong>
                <em>Position/Role Here</em>
              </div>
              <p>
                Nam tincidunt velit et est commodo, sagittis porta eros mattis. Mauris ipsum nibh, condimentum vitae tincidunt cursus, interdum volutpat odio. 
              </p>
            </div>

            <div class="cell medium-4">
              <div class="team_info">
                <img src="images/about_page/colin.jpg" alt="Colin" />
                <strong>Colin</strong>
                <em>Position/Role Here</em>
              </div>
              <p>
                Quisque fermentum pulvinar fringilla. Curabitur auctor imperdiet mi, quis semper neque efficitur id. Aliquam faucibus nibh ut finibus hendrerit. 
              </p>
            </div>



          </div>
        </div>



        <%= partial "layouts/footer" %>


      </div>
    </div>



  </div>