---
title: Home
body_id: snap_body
cont_class: snap_container
main_nav_sel: home
---

  <div id="hero" class="snap_section">
    <div class="bg_image">
      <div class="svg_container">
        <%= partial "images/home_teaser.svg" %>   
      </div>
    </div>
    <div class="text_section">
      <div class="text_cont_for_ie">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell large-6">&nbsp;</div>
            <div class="cell large-6">
              <h1><strong>Affordable</strong> and <br />
              worry-free <strong>IT solutions</strong></h1>
              <p>
                We provide reliable IT service for our client’s businesses and give them peace of mind—that their websites and applications are taken care of by professionals
              </p>

              <a href="/" class="button btn_outline">Learn More</a>
              <a href="/" class="button btn_orange">Discuss your IT needs</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="rocket" class="snap_section">
    <div class="bg_image">
      <div class="bg_image_holder">
        <div class="rocket_blue_cloud">
          <%= partial "images/rocket_blue_cloud.svg" %>   
        </div>
        <div class="rocket_svg">
          <%= partial "images/rocket.svg" %>   
        </div>
        <div class="rocket_white_cloud">
          <%= partial "images/rocket_white_cloud.svg" %>   
        </div>
      </div>
    </div>
    <div class="iebg_image">&nbsp;</div>
    <div class="text_section">
      <div class="text_cont_for_ie">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell large-6 small-8">
              <h2>
                <strong>Accelerate</strong> your <br />
                company's <strong>success</strong>
              </h2>
              <p>
                NZCS is a leading IT solutions provider in New Zealand and Australia, focused on Flat-rate IT services, custom software  development and cloud solutions. Our IT expertise paired with the broad portfolio of services offerings will enable your team  to run the business without worrying about computer issues bringing you down.  
              </p>

              <p>
                We want to enable our clients to take advantage of economic value from the IT by letting us implement and manage top quality, cloud-ready, and secure IT solutions. 
              </p>

              <a href="/" class="button btn_orange">Discuss your IT needs</a>
            </div>
            <div class="cell large-6">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div id="overview_services" class="snap_section">
    <div class="text_section">
      <div class="text_cont_for_ie">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell small-12">
              <h2><strong>How</strong> can we <strong>help you</strong>?</h2>
            </div>
          </div>

          <div class="grid-x grid-padding-x">
            <div class="cell large-6">
              <div class="grid-x">
                <div class="cell medium-4">
                  <div class="icon_cont">
                    <div class="service_icon_b1">
                      <div class="service_icon">
                        <%= partial "images/homepage/icon_lock.svg" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell medium-8">
                  <h3>World-class Flat-rate IT services</h3>
                  <p>
                    Instead of being surprised with unexpected bills - simply budget for IT costs knowing you can stay ahead of competition with our Flat-rate IT services. NZCS team has got your technology taken care of.
                  </p>
                </div>
              </div>


              <div class="grid-x">
                <div class="cell medium-4">
                  <div class="icon_cont">
                    <div class="service_icon_b2">
                      <div class="service_icon">
                        <%= partial "images/homepage/icon_manage_it.svg" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell medium-8">
                  <h3>Managed IT Services</h3>
                  <p>
                    Our managed IT services support your business needs and objectives by ensuring optimal performance of your resources. We combine consultative services with ongoing management and support. 
                  </p>
                </div>
              </div>


            </div>


            <div class="cell large-6">
              
              <div class="grid-x">
                <div class="cell medium-4">
                  <div class="icon_cont">
                    <div class="service_icon_b3">
                      <div class="service_icon">
                        <%= partial "images/homepage/icon_cog.svg" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell medium-8">
                  <h3>Custom Software Development</h3>
                  <p>
                    Whatever your requirements, we can deliver world-class software solutions, combining proven expertise in various technology platforms and an understanding of emerging software development trends. 
                  </p>
                </div>
              </div>


              <div class="grid-x">
                <div class="cell medium-4">
                  <div class="icon_cont">
                    <div class="service_icon_b4">
                      <div class="service_icon">
                        <%= partial "images/homepage/icon_cloud.svg" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell medium-8">
                  <h3>Cloud Solutions</h3>
                  <p>
                    We help clients to adopt a cloud-based technology. Our cloud services meet current business and IT challenges, lower costs and mitigate risks by providing highly secure and responsive infrastructure. 
                  </p>
                </div>
              </div>


              
            </div>
          </div>

          <div class="grid-x grid-padding-x">
            <div class="cell small-12 text_center">
              <a href="/" class="button btn_orange">Discuss your IT needs</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div id="why_us" class="snap_section">
    <div class="bg_image">
      <div class="svg_container">
        <%= partial "images/homepage/bgc_white.svg" %>   
      </div>
    </div>
    <div class="text_section">
      <div class="text_cont_for_ie">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell small-12">
              <h2><strong>Why choose</strong> NZCS as <strong>your reliable partner</strong>?</h2>
            </div>
          </div>

          <div class="grid-x grid-padding-x">
            <div class="cell large-6">
              <p>
                As more and more companies look outside their organizations for IT solutions - we understand the challenges they all face related to managing IT efforts, deploying new technologies for growth, meeting compliance requirements, and optimizing their internal IT spend. 
              </p>

              <h3>Key benefits of working with us:</h3>
              <ul class="disc">
                <li>Structured working process</li>
                <li>Improved business performance </li>
                <li>Consistent service experience across all locations</li>
              </ul>



            </div>


            <div class="cell large-6">
              <p>
                Our value and expertise are best represented by work. So far, dozens of companies put their trust in us to help them improve their business performance.
              </p>

              <img src="images/testi_comps.png" alt="" />
            </div>
          </div>

          <div class="grid-x grid-padding-x">
            <div class="cell small-12 text_center">
              <a href="/" class="button btn_orange">Discuss your IT needs</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div id="testimonials" class="snap_section">
    <div class="bg_image">
      <div class="svg_container">
        <%= partial "images/homepage/bg_testimonials.svg" %>   
      </div>
    </div>
    <div class="text_section">
      <div class="text_cont_for_ie">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell small-12">
              <h2><strong>What</strong> our clients say <strong>about us</strong>?</h2>
            </div>
          </div>

          <div class="grid-x grid-padding-x">
            <div class="cell large-12">
              <div class="testi_slider_container">
                
                <div class="testi_slider">
                  <div class="indi_testi_cont">
                    <div class="test_slider_testi">
                      The team at NZCS have recently assisted us through a major upgrade of our server and product management software upgrade.  NZCS were responsive to our requests, ensuring that we remained functional throughout the project working around our business needs.  Our staff enjoyed their sense of humour and “can do” attitude in our workplace.
                    </div>



                    <div class="testi_auth_info grid-x grid-padding-x">
                      <div class="cell large-6 medium-12">
                        <span class="test_slider_auth_name">Kelly Marriner</span>
                        <span class="test_slider_auth_company">Parker Marriner Lawyers</span>
                        <span class="test_slider_auth_address">(Hawera)</span>
                      </div>

                      <div class="cell large-6 medium-12">
                        <img src="images/test_logo1.png" alt="" />
                      </div>
                    </div>
                  
                  </div>

                </div>

                <div class="testi_slider">
                  <div class="indi_testi_cont">
                    <div class="test_slider_testi">
                      We have been clients of NZCS for the last 10 years. These guys look after us so well! – requests and  responses are well documented, actioned quickly and followed up if not immediately resolved. They are a small team and we appreciate their personal service and care.
                    </div>





                    <div class="testi_auth_info grid-x grid-padding-x">
                      <div class="cell large-6 medium-12">
                        <span class="test_slider_auth_name">Rose Hughes</span>
                        <span class="test_slider_auth_company">DLA Architects</span>
                        <span class="test_slider_auth_address">(Wellington, Hamilton, Timaru, Auckland)</span>
                      </div>

                      <div class="cell large-6 medium-12">
                        <img src="images/test_logo2.png" alt="" />
                      </div>
                    </div>

                  </div>

                </div>

                <div class="testi_slider">
                  <div class="indi_testi_cont">
                    <div class="test_slider_testi">
                      NZCS deliver an extremely prompt, friendly and competent computer service. Their knowledge and assistance in troubleshooting our IT issues has been of great assistance to us.
                    </div>




                    <div class="testi_auth_info grid-x grid-padding-x">
                      <div class="cell large-6 medium-12">
                        <span class="test_slider_auth_name">Peter Rothwell</span>
                        <span class="test_slider_auth_company">Govett Quilliam</span>
                        <span class="test_slider_auth_address">(New Plymouth)</span>
                      </div>

                      <div class="cell large-6 medium-12">
                        <img src="images/test_logo3.png" alt="" />
                      </div>
                    </div>
                  
                  </div>

                </div>

                <div class="testi_slider">
                  <div class="indi_testi_cont">
                    <div class="test_slider_testi">
                      Aliquam eget lacus ut nisl sodales sodales vel non turpis. Quisque in tempus mi. Cras mollis iaculis leo sit amet scelerisque. Vestibulum vitae viverra felis. Morbi tempor quam sed varius finibus. Phasellus vestibulum congue purus, id molestie neque euismod eu. Suspendisse potenti.
                    </div>



                    <div class="testi_auth_info grid-x grid-padding-x">
                      <div class="cell large-6 medium-12">
                        <span class="test_slider_auth_name">Kelly Marriner</span>
                        <span class="test_slider_auth_company">Parker Marriner Lawyers</span>
                        <span class="test_slider_auth_address">(Hawera)</span>
                      </div>

                      <div class="cell large-6 medium-12">
                        <img src="images/test_logo1.png" alt="" />
                      </div>
                    </div>
                  
                  </div>

                </div>

              </div>



            </div>


            
          </div>

          <div class="grid-x grid-padding-x">
            <div class="cell small-12 text_center">
              <a href="/" class="button btn_orange">Discuss your IT needs</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    
  </div>


  <div id="contact" class="snap_section">
    <div class="bg_image">
      <div class="svg_container">
        <%= partial "images/homepage/bgc_yb.svg" %>   
      </div>
      <div class="contact_char">
        <%= partial "images/homepage/bg_contact.svg" %>   
      </div>

    </div>
    <div class="text_section">
      <div class="text_cont_for_ie">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell small-12">
              <h2><strong>Connect</strong> with NZCS</h2>
            </div>
          </div>

          <div class="grid-x grid-padding-x">
            <div class="cell large-6">
              <p>
                Our team of experts works with clients to comprehensively understand their business. That’s how we implement the best and most appropriate IT management solutions for your company.
              </p>


              <address>
                <div class="grid-x grid-padding-x">
                  <div class="cell medium-4">Call us</div>
                  <div class="cell medium-8">0800 111 106</div>
                </div>
                <div class="grid-x grid-padding-x">
                  <div class="cell medium-4">Visit us</div>
                  <div class="cell medium-8">
                    182 Glasgow Street<br />
                    PO Box 7205<br />
                    Wanganui<br />
                    New Zealand<br />
                  </div>
                </div>
              </address>




            </div>


            <div class="cell large-6">
              <div class="contact_form">
                <p>
                  Please fill out the form below to start a conversation. <br />
                  Our team will get back to you within 24 hours.
                </p>

                <input type="text" name="name" placeholder="Your Name" />
                <input type="text" name="email" placeholder="Your Email" />

                <textarea name="message" rows="4" cols="50" placeholder="Your Message"></textarea>


                <input class="button btn_orange" type="button" value="Send Message" />


              </div>


            </div>
          </div>



        </div>


        <%= partial "layouts/footer" %>

      </div>

      

    </div>


    

  </div>

